<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <a href="/profiles/{{id}}"><li>{{name}} ({{email}})</li></a>
    {{/each}}
    </ul>
    <a href="/add">make a profile</a>
  </body>
</html>
