<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PickAPath</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>

{{!-- Header --}}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        PickAPath
      </h1>
      <h2 class="subtitle">
        The Classic Adventure Quest
      </h2>
    </div>
  </div>
</section>

{{!-- <a class="button is-large">START</a> --}}
{{!-- <a class="button is-primary">Primary</a> --}}

<div class="column is-4 is-offset-4">

      <a class="button is-large is-fullwidth is-rounded is-primary" type="submit" href="/path/01">START</a>

    </div>

  </body>
</html>

{{!-- //////////////////////////////////////////
<!DOCTYPE html>
<html>
  <head>
    <title>PickAPath</title>
  </head>
  <body>
    <ul>
    {{#each paths}}
      <li><a href="/path/{{id}}">{{story}} ({{ch1}}) ({{ch2}})</a></li>
    {{/each}}
    </ul>
  </body>
</html> --}}
