<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <style>
      body {
        background-color: beige;
      }
      img {
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    This is a view of one profile
     
    <h4>Name: {{name}}</h4>, 
    
    <img src="{{profile_pic}}"></img>

    <h5>Email: {{email}}</h5> 
    <h6><a href="{{URL}}">My homepage</a></h6> 
    
    
  </body>
</html>