<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    hhhhhhhhhhh
    <ul>
    {{#each profiles}}
      <li>{{name}}, ({{email}}), {{URL}}, <img src="{{profile_pic}}"></img></li>
    {{/each}}
    </ul>
  </body>
</html>